################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
/CadastroDeContatos/bin
/CadastroDeContatos/obj
